/* amagyzenér */
:root {
  /* цвет подложки */
  --page-bg: hsl(0, 0%, 95%);

  /* цвета темы */
  --theme-color: hsl(209, 60%, 58%);
  --theme-color-highlight: hsl(209, 56%, 48%); /* активные элементы, e. g. ':hover' */
  --theme-color-faded: hsl(209, 60%, 58%, 20%); /* заголовки виджетов и т. п. */
  --normal-color: hsl(0, 0%, 85%); /* поля форм без ошибок, рамки и т. п. */
  --success-color: hsl(125, 41%, 50%); /* сообщения об успешных операциях */
  --error-color: hsl(357, 78%, 59%); /* подсветка полей форм, сообщения об ошибках */
  --warning-color: hsl(39, 81%, 56%); /* уведомления или сообщения о подтверждении действия */

  /* для внутренних теней: цвета для подмешивания (осветление/затемнение) */
  --darken25: hsla(0, 0%, 0%, 0.25);
  --lighten25: hsla(0, 0%, 100%, 0.25);

  /* блоки, e. g.: формы входа/регистрации, компоненты-представления (views aka “pages”) */
  --block-bg: #FEFEFE;
  --block-shadow: 0 5px 20px rgba(18, 38, 63, 0.05);
  --block-border-radius: 3px;

  /* переходы: глобальная настройка */
  --ui-transition: .25s ease-in-out;

  /* базовый цвет текста, приглушённый текст и цвета ссылок */
  --text-color: #3A4045;
  --text-color-alt: #FEFEFE; /* текст на заливке цвета темы (--theme-color) и т. п. */
  --text-color-faded: hsla(0, 0%, 0%, 0.35);
  --text-color-faded-alt: hsla(0, 0%, 100%, 0.35); /* приглушённый текст на заливке темы */

  /* HINTS
    Базовый размер шрифта и сам шрифт указаны в '../styles/index.scss', в корневом 'html'.
    Размеры шрифта в компонентах указываются в относительных единицах 'rem', а высота строки — в 'em'. */
}

/* отключение всех анимаций, если в ОС или на устройстве включена настройка «отключить излишнюю анимацию» */
@media(prefers-reduced-motion) {
  :root {
    --ui-transition: unset;
  }

  * {
    transition: unset !important;
  }
}
